<style>
  a.btn {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #fff;
    background: #336699;
    font-size: 3vw;
    font-family: Helvetica, sans-serif;
    border-radius: 10px;
  }
</style>
<a class="btn" href="/auth/google">Login with Google</a>
